tbody {
    display:block;
    height:400px;
    overflow:auto;
    text-align: center;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

table{
	width: 50%;
	margin: auto;
}